/*RPG Game Homework #4
Created 11/21/17
Last updated 11/30/17
Written by: Steve Harold*/

html {
	min-height: 100%;
	min-width: 100%;
	position: relative;
}

body {
	height: 100%;
}

* h2,
* p {
	font-family: 'Quantico', sans-serif;
	font-weight: bold;
	margin-top: 2px;
	margin-bottom: 2px;
}

* p {
	padding-bottom: 5px;
}

#back {
	background-image: url(../images/battlefield.jpg);
	background-size: cover;
	height: 150%;
	width: 100%;
	position: absolute;
}

#game {
	margin-top: 35px;
	padding: 10px;
	background-color: rgba(0,0,0,0.4);
}

#logo {
	background-image: url(../images/logo.png);
	background-size: 100% 100%;
	margin-top: 20px;

}

#char-select,
#my-char,
#button,
#active-enemy,
#enemies,
#graveyard {
	box-sizing: border-box;
	background-color: rgba(169,169,169,0.8);
	margin: 10px 0 10px 0;
	padding: 10px;
	padding-bottom: 50px;
}

#logo {
	height: 150px;
}

#char-select,
#button,
#enemies,
#graveyard {
	height: 190px;
}

#my-char,
#active-enemy,
#button {
	height:240px;
}

#button {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}

#game-message {
	padding-top: 10px;
}

.my-char p,
.defender p {
	font-size: 20px;
	padding-bottom: 30px;
}

#graveyard img {
	margin-bottom: -5px;
}

#char-select p,
#logo p,
#my-char p,
#button p,
#active-enemy p,
#enemies p,
#graveyard p {
	color: black;
}

.selectable-char,
.enemy-character,
.my-char,
.defender,
.dead {
	height: 100%;
	border: 1px solid white;
	margin: auto;
}

.img-responsive {
	margin: auto;
	height: 55%;
}

#character-1,
#character-2,
#character-3,
#character-4 {
	border: 1px solid white;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}

#character-1 img,
#character-2 img,
#character-3 img,
#character-4 img {
	margin-top: 25%;
}


#character-1 {
	background-image: url(../images/mariotitle.png);
	background-size: cover;
}

#character-2 {
	background-image: url(../images/foxtitle.png);
	background-size: cover;
}

#character-3 {
	background-image: url(../images/samustitle.png);
	background-size: cover;
}

#character-4 {
	background-image: url(../images/linktitle.png);
	background-size: cover;
}
